<template>
    <svg width="100%" height="100%"
         viewBox="-1.05 -1.05 2.1 2.1"
         aspectRatio="xMidYMid meet"
         xmlns="http://www.w3.org/2000/svg">
         
        <circle id="BigCircle" cx="0" cy="0" r="1" fill="LightSeaGreen" />
        <circle id="SmallCircle" :cx="smallCx" :cy="smallCy" :r="smallR" fill="LightSkyBlue" />

        <path v-for="d in primaryShapes"
              :key="d"
              :d="d"
              fill="Lime"
              stroke="Lime"
              stroke-width="0.005"
              fill-opacity="0.2" />
        <path v-for="d in secondaryShapes"
              :key="d"
              :d="d"
              fill="MediumVioletRed"
              stroke="MediumVioletRed"
              stroke-width="0.005"
              fill-opacity="0.2" />

        <line id="pointLine" :x1="smallCx" :y1="smallCy" :x2="pointX" :y2="pointY" stroke="blue" stroke-width="0.005" />
        <path id="pointPath" :d="path" fill="none" stroke="black" stroke-width="0.002" />
        <circle v-for="p in otherPoints"
                :key="`${p.px} ${p.py}`" 
                :cx="p.px"
                :cy="p.py"
                r="0.01" fill="DimGray" />
        <circle id="mainPoint" :cx="pointX" :cy="pointY" r="0.01" fill="MidnightBlue" />
    </svg>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";

@Component({})
export default class ResultSvg extends Vue {
    @Prop({default: 1})
    numerator = 1;

    @Prop({default: 2})
    denumerator = 2;
    
    @Prop({default: 0.8})
    pointRadius = 0.8;
    
    @Prop({default: 1000})
    dataPoints = 1000;

    @Prop({default: 0})
    step = 0;
    
    get points(): Array<point> {
        const result = new Array<point>(this.dataPoints);
        
        for (let i = 0; i < this.dataPoints; i++) {
            const angle = i * 2 * Math.PI * this.numerator / this.dataPoints;
            const cx = this.smallDr * Math.cos(-angle);
            const cy = this.smallDr * Math.sin(-angle);
            const pa = angle * (this.denumerator / this.numerator - 1);
            const px = cx + this.pointR * Math.cos(pa);
            const py = cy + this.pointR * Math.sin(pa);
            result[i] = {cx, cy, px, py};
        }
        
        return result;
    }

    get smallR(): number {
        return this.numerator / this.denumerator;
    }

    get smallDr(): number {
        return 1 - this.smallR; 
    }

    get pointR(): number {
        return this.smallR * this.pointRadius;
    }

    get smallCx(): number {
        return this.points[this.step].cx;
    }

    get smallCy(): number {
        return this.points[this.step].cy;
    }

    get pointX(): number {
        return this.points[this.step].px;
    }

    get pointY(): number {
        return this.points[this.step].py;
    }

    get path(): string {
        const lastPoint = this.points[this.dataPoints - 1];
        const move = `M ${lastPoint.px} ${lastPoint.py}`
        const line = this.points.map(p => ` L ${p.px} ${p.py}`)
        return `${move} ${line.concat()}`
    }

    get otherPoints(): Array<point> {
        const result = new Array<point>(this.denumerator);
        const count = 2 * (this.denumerator - 1);
        for (let i = 0; i < count; i++) {
            const p = Math.round(this.step + (i * this.dataPoints / count)) % this.dataPoints;
            result[i] = this.points[p];
        }
        return result;
    }

    get isShapes(): boolean {
        return this.numerator > 1 &&
            this.otherPoints.length % this.numerator == 0;
    }

    get primaryShapes(): string[] {
        if (!this.isShapes) 
            return [];

        return this.getShapes(this.numerator);
    }


    get secondaryShapes(): string[] {
        if (!this.isShapes) 
            return [];

        return this.getShapes(this.otherPoints.length / this.numerator);
    }

    getShapes(count: number): string[] {
        let result = [] as string[];
        for (let i = 0; i < count; i++) {
            result.push(`M ${this.otherPoints[i].px} ${this.otherPoints[i].py}`)
        }
        for (let i = count; i < this.otherPoints.length; i++) {
            result[i % count] += ` L ${this.otherPoints[i].px} ${this.otherPoints[i].py}`;
        }
        for (let i = 0; i < count; i++) {
            result[i] += ' Z';
        }
        return result;
    }
}

interface point{
    cx: number,
    cy: number,
    px: number,
    py: number,
}
</script>