<template>
  <v-app>
    <v-main>
      <v-container>
        <v-text-field
          v-model="num"
          label="numerator"
          min="1"
          :max="denum - 1"
          type="number"
        ></v-text-field>
        <v-text-field
          v-model="denum"
          label="denumerator"
          min="2"
          max="10"
          type="number"
        ></v-text-field>
        <v-slider
          v-model="pd"
          label="point distance"
          min="0"
          max="1"
          step="0.01"
          thumb-label="always"
        ></v-slider>
        <v-slider
          v-model="step"
          label="step"
          min="0"
          :max="dp - 1"
          :step="dp / 100"
          thumb-label="always"
        ></v-slider>
      </v-container>
      <v-container>
        <ResultSvg 
          :step="step"
          :numerator="num"
          :denumerator="denum"
          :pointRadius="pd"
          :dataPoints="dp"/>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import ResultSvg from './components/ResultSvg.vue';

export default Vue.extend({
  name: 'App',

  components: {
    ResultSvg,
  },

  data: () => ({
    pd: 0.8, num: 1, denum: 2, step: 0, dp: 10000 
  }),
});
</script>
